.div{
    background-color: #f4f4f4;
    margin: 26px 60px 60px 60px;
    border: 2px solid #f4f4f4;
    filter: drop-shadow(0px 0px 10px rgb(183, 172, 172));
}
.qestion{
    font-weight: 600;
    font-size: 20px;
}
.help_text{
    font-weight: 500;
    font-size: 20px;
}
.form-check{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.ded{
    margin: 0px 0px 0px 90px;
}
.input{
    display: block;
}
.chack-input{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 0.6px solid #000;
    background-clip: content-box;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: middle;
}

.buttonn{
    all: unset;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    width: 300px;
    height: 50px;
    background: #ffffff;
    color: #0B940E;
    border: 2px solid #0B940E;
    border-radius: 30px; 
    margin: 30px 0px 60px 80px
}
.buttonn:hover{
    color: white;
    background-color: #0B940E;
    border-color: #0B940E;
}
.chack-button{
    margin-right: 15px;
    color: #1d1d1f;
    opacity: .6;
    font-weight: 700;
    font-size: 20px;
}
.next-block{
    display: grid;
    justify-items: center;
}
.button-next-block{
    all: unset;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    width: 300px;
    height: 50px;
    border: 1px solid black;
    background: #ffffff;
    color: #0B940E;
    margin: 60px 0px -1px 55px;
    border-radius: 30px;  
}
.button-next-block:hover{
    color: #ffffff;
    background: #0B940E;
    border: #0B940E;
}
@media (max-width:570px) {
    .ded{
        margin: 0px 0px 0px 20px;
    }
    .buttonn{
        margin: 30px 0px 60px 60px
    }
}
@media (max-width:414px) {
    .buttonn{
        margin: 30px 0px 53px 12px;
        width: 260px;
    }
}