<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
    </head>
    {% include 'navbar.html' %}
    <body style="width: 100%; margin: 0; padding: 0; overflow-x: hidden;">
        <div class="section-contact">
            <div class="contact1">
                <div class="title-telefoha">homera telefoha</div>
                <div style="display: flex;width: 435px;flex-wrap: wrap;">
                <a href="tel:(111) 111-11-11">+38 (111) 111-11-11   (kyevstar)</a>
                <a href="tel:(222) 222-22-22">+38 (222) 222-22-22   (vodafone)</a>
                <a href="tel:(333) 333-33-33">+38 (333) 333-33-33   (lifesell)</a>
                </div> 
                <div class="title-telefoha">email adres</div>
                <a href="mailto:dededede@gmail.com" style="margin: 0px 20px 0px 0px;">dededede@gmail.com</a>
            </div>
            <div class="grafik-roboti">
                <div class="title-telefoha">grafik roboti</div>
                <div> jdldvjfdv sdksdpvsd 20-12</div>
                <div> sldkfjlnflkne psjalknarel 19-98</div>
                <div> weijdofijefo fnajfhefojfld 20-87</div>
            </div>
        </div>
    </body>
    {% include 'end_navbar.html' %}
</html>