<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/for_as.css' %}" type="text/css">
    </head>
    {% include 'navbar.html' %}
    <body style="width: 100%; margin: 0; padding: 0; overflow-x: hidden;">
        <div class="sectiones">
            <div class="titleos">ITAO</div>
            <div class="section-textos">
                <div class="textos">ITAO - це сучасний і зручний сервіс викупу гаджетів. У нас можна швидко продати стару техніку Apple, не виходячи з дому. Ми корисні, коли потрібно продати iPhone, але немає бажання і часу подавати оголошення на безлічі сайтів, оплачувати рекламу, торгуватися з потенційними покупцями та їздити на огляди. Як це працює? </div>
                <div class="textos">ITAO - це сучасний і зручний сервіс викупу гаджетів. У нас можна швидко продати стару техніку Apple, не виходячи з дому. Ми корисні, коли потрібно продати iPhone, але немає бажання і часу подавати оголошення на безлічі сайтів, оплачувати рекламу, торгуватися з потенційними покупцями та їздити на огляди. Як це працює?</div>
            </div>
            <div class="section-point">
                <div class="point-section">
                    <div class="point"> 1. Розрахуйте вартість пристрою на сайті, якщо ціна задовольняє – оформляєте заявку. </div>
                    <div class="point">2. Менеджер передзвонить уточнити деталі.</div>
                </div>
                <div class="point-section">
                    <div class="point">3. Розрахуйте вартість пристрою на сайті, якщо ціна задовольняє – оформляєте заявку.</div>
                    <div class="point">4. Менеджер передзвонить уточнити деталі.</div>
                </div>
            </div>
        </div>
    </body>
    {% include 'end_navbar.html' %}
</html>