<!DOCTYPE html>
<head>
    {% load static %}
    <style> @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');</style>
    <link rel="stylesheet" href="{% static '/css/info.css' %}" type="text/css">
</head>
<body style="width: 100%; margin: 0; padding: 0; overflow-x: hidden;">
    <div style="font-weight: 600;font-size: 24px; line-height: 29px; margin: 0px 15px;">Що ми перевіряємо</div>    
    <div class="class-info">
        <div class="left-block">
            <div class="text-info">Оригінальність пристрою</div>
            <div class="text-info">Працездатність компонентів</div>
            <div class="text-info">Работоспособность кнопок</div>
            <div class="text-info">Сліди вологи</div>
            <div class="text-info">Стан зносу батареї</div>
        </div>
        <img class="image-info" src="/media/for_site/info.png ">
        <div class="right-block">
            <div class="text-info">Сліди ремонту</div>
            <div class="text-info">Оригінальність дисплея</div>
            <div class="text-info">Оригінальність АКБ</div>
            <div class="text-info">Наявність притискних планок</div>
            <div class="text-info">Наличие винтов</div>
        </div>
    </div>
    <div class="iphone-50-flex">
            <img class="iphone50" src="/media/for_site/iphon50.png">
        
        <div class="iphone-50-section">
            <div class="iphone-50-section-div">
                <img style="height: 64px; width: 64px;" src="/media/for_site/price-tag.png"></img>
                <div style="font-weight: 600;margin: 15px 0 10px;">Прозора оцінка</div>
                <div class="text-propoganda">Онлайн оцінка гаджетів у кілька кліків!</div>
            </div>
            <div class="iphone-50-section-div" >
                <img style="height: 64px; width: 64px;" src="/media/for_site/best-price.png"></img>
                <div style="font-weight: 600;margin: 15px 0 10px;">Відмінні ціни</div>
                <div class="text-propoganda">Продаєш чи купуєш, ціни приємно здивують!</div>
            </div>
            <div class="iphone-50-section-div">
                <img style="height: 64px; width: 64px;" src="/media/for_site/truck.png"></img>
                <div style="font-weight: 600;margin: 15px 0 10px;">Зручний сервіс</div>
                <div class="text-propoganda">Не треба нікуди їздити. Ми приїдемо до вас!</div>
            </div>
            <div class="iphone-50-section-div">
                <img style="height: 64px; width: 64px;" src="/media/for_site/guarantee.png"></img>
                <div style="font-weight: 600;margin: 15px 0 10px;">Гарантія безпеки</div>
                <div class="text-propoganda">Ми проводимо угоду швидко та комфортно для вас!</div>
            </div>
            <button class="button">Докладніше про нас</button>
        </div>
    </div>
    <div style="border-bottom: 10px solid #dce1e6;"></div>
    <div  class="two-images">
        <div class="two-images-blog">
            <img class="imegess" src="/media/for_site/kyevGerb.png"></img>
            <div class="images-textx"> difjapeovadv anvmapvmapova</div>
        </div>
        <div class="two-images-blog">
            <img class="imeges" src="/media/for_site/free-icon-ukraine-7224167.png"></img>
            <div class="images-text"> kovasvpl[aefvla' dp[sl</div>
        </div>
    </div>
</body>